@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  min-height: 100vh;
  background: url(../assets/trello.png) no-repeat center;
  background-size: cover;
  font-family: 'Popins', sans-serif;
  overflow-x: hidden;
}

main {
  height: 93vh;
  padding: 2rem;
  display: flex;
  column-gap: 15px;
  display: flex;
  overflow-x: auto;
}
