.list {
  flex: 0 0 286px;
  height: fit-content;
  border-radius: 3px;
  padding: 8px;
  background-color: rgb(247, 245, 245);

  &__header {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__delete-btn {
    height: 22px;
    width: 22px;
    color: rgb(97, 97, 97);
  }

  &__body {
    height: max-content;
    max-height: 700px;
    background-color: rgb(247, 245, 245);
    overflow-y: auto;
  }
}
